body{
  background-color: rgb(151, 126, 96);
}
h1 {
  animation: rotate 2s linear infinite;
  color: black;
  font-size: 40pt;
  font-weight: 100;
  text-decoration: wavy;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
td, th{
  border: 2px solid black;
  padding: 15px;

}
table{
border-spacing: 0px;
}
th{
background-color: grey;
font-size: 18px;
}
h2, h3, h4 {
  color: darkslategray;
  font-size: 25pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img {
  width: auto;
  border-radius: 0cap;
  filter: none;
}
html {
  text-align: center;
}